aiohttp==3.7.3
-e git+https://github.com/RomelTorres/alpha_vantage.git@62db439b3a43aa9b5c1e0fc79ff51ec70ac1cce1#egg=alpha_vantage
async-timeout==3.0.1
attrs==20.3.0
certifi==2020.11.8
chardet==3.0.4
cycler==0.10.0
idna==2.10
idna-ssl==1.1.0
kiwisolver==1.3.1
matplotlib==3.3.3
multidict==5.0.2
numpy==1.19.4
pandas==1.1.4
Pillow==8.0.1
pyparsing==2.4.7
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2020.4
requests==2.25.0
simfin==0.8.1
six==1.15.0
typing-extensions==3.7.4.3
urllib3==1.26.2
yarl==1.6.3
